/* Foglio di stile pagina html - web application EOQ Lotto economico di acquisto */
* {
    box-sizing: border-box;
  }  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8d8cf;
}

    /* Titolo principale */
    h1 {
    color: #fff;		    
    text-align: left;
}

/* Stile per il menu orizzontale */
.navbar {
    display: flex; 
    justify-content: space-between;
    background-color: #242952;
    padding: 1rem;            
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-title {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    		
    font-size: 1.1rem;
}

.navbar a:hover {
    background-color: #323a75;
    border-radius: 2px;
}

/* Contenuto principale */
.box {   
    padding: 20px;
    margin-top: 20px;    
}

.numeric {   
    text-align:right;
    font-size:medium;    
}

.text {
    text-align: center;
}

table tbody tr td,
table thead tr th,
table {   
  table-layout: fixed;
  border-left: 1px solid #323a75;
  border-right: 1px solid #323a75;
}